
<div class="row">
    <div class="col">
        {% if cart_items %}
            <div class="table-responsive rounded d-md-block">
                <table class="table table-sm table-borderless">
                    <thead class="text-black small-font">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col"></th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                        <tr class="small-font">
                            <td class="pt-3">
                               {% include "cart/product-image.html" %}
                            </td>
                            <td class="pt-3">
                               {% include "cart/product-info.html" %}
                            </td>
                            <td class="pt-3 w-50">
                                {% include "cart/quantity-form.html" %}
                            </td>
                            <td class="pt-3">
                                <p class="my-0">£{{ item.product.price }}</p> <!-- {| calc_subtotal:item.quantity} -->
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                          {% include "cart/cart-total.html" %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                         {% include "cart/checkout-buttons.html" %}
                        </td>
                    </tr>
                </table>
            </div>
        {% else %}
            <p class="lead mb-5">Nothing to see here!</p>
        {% endif %}
    </div>

</div>


