{% load static %}
{% load bag_tools %}

<div class="row">
    <div class="col">
        {% if cart_items %}
            <div class="table-responsive rounded d-md-block">
                <table class="table table-sm table-borderless">
                    <thead class="text-black small-font">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col"></th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                        <tr class="small-font">
                            <td class="pt-3">
                               {% include "cart/product-image.html" %}
                            </td>
                            <td class="pt-3">
                               {% include "cart/product-info.html" %}
                            </td>
                            <td class="pt-3 w-50">
                                {% include "cart/quantity-form.html" %}
                            </td>
                            <td class="pt-3">
                                <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p> <!-- {| calc_subtotal:item.quantity} -->
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                          {% include "cart/cart-total.html" %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                         {% include "cart/checkout-buttons.html" %}
                        </td>
                    </tr>
                </table>
            </div>
        {% else %}
            <p class="lead mb-5">Nothing to see here!</p>
        {% endif %}
    </div>

</div>


<script type="text/javascript">

    /* 
    * Disable +/- buttons outside 1-99 range.
    * If no size is passed to the function, the parameter will have a value of undefined by default,
    * which prevents any errors 
    */
    function handleEnableDisable(itemId, size) {

        var currentValue = parseInt($(`.id_qty_${itemId}`).val());

        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;

        $(`.decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`.increment-qty_${itemId}`).prop('disabled', plusDisabled);

    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var itemId = $(this).data('item_id');
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
  
        var allQuantityInputs = $(`.input-group-${itemId} input[name='quantity']`);

       var currentValue = parseInt($(closestInput).val());
       $(allQuantityInputs).val(currentValue + 1);
       handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var itemId = $(this).data('item_id');
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
   
       var allQuantityInputs = $(`.input-group-${itemId} input[name='quantity']`);
       
       var currentValue = parseInt($(closestInput).val());
       $(allQuantityInputs).val(currentValue - 1);
       handleEnableDisable(itemId);
    });
</script>

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
