{% load static %}
{% load bag_tools %}

<div class="row">
    <div class="col">
        {% if cart_items %}
            <div class="table-responsive rounded d-md-block">
                <table class="table table-sm table-borderless">
                    <thead class="text-black small-font">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col"></th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                        <tr class="small-font">
                            <td class="pt-3 pb-2">
                               {% include "cart/product-image.html" %}
                            </td>
                            <td class="pt-3 pb-2">
                               {% include "cart/product-info.html" %}
                            </td>
                            <td class="pt-3 cart-qty-width pb-2">
                                {% include "cart/quantity-form.html" %}
                            </td>
                            <td class="pt-3 ms-3">
                                <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                          {% include "cart/cart-total.html" %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                         {% include "cart/checkout-buttons.html" %}
                        </td>
                    </tr>
                </table>
            </div>
        {% else %}
            <p class="lead mb-5">Nothing to see here!</p>
        {% endif %}
    </div>

</div>

<!-- this responds to the small links, update and remove -->
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
