{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

<div class="row custom-height align-items-center" id="background-image">

  <div class="px-4 py-5 text-center">
    <img class="d-block mx-auto mb-1" src="/media/signature.png" alt="" id="signature">
    <!-- <h1 class="display-5 fw-bold">Jude Howells</h1> -->
    <div class="col-auto mx-auto">
      <p class="lead mb-4">Photographer, Pembrokeshire</p>
      <div class="d-grid gap-2 mt-4 d-sm-flex justify-content-sm-center">
        <a type="button" class="btn btn-outline-dark btn-lg px-4 gap-3" href="{% url 'shop' %}">Shop</a>
      </div>
    </div>
  </div>

</div>




  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <div class="col-lg-6 mx-auto">
        <p>Copyright 2022</p>
      </div>
    </div>
  </div>



{% endblock %}
