#background-image {
  background-image: url('/media/surfers-long-surfers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  z-index: 1;
  margin-right: 0px;
}

.custom-height {
  height:100vh;
}

#signature {
  min-width: 60vw;
  max-width: 70vw;
}

.row {
  --bs-gutter-x: 0rem;
}

.navbar {
	background-color:transparent;
}
