.menu-button-size {
    font-size:x-large;
}

.total-icon {
    position: absolute;
    right: 20px;
    top: 45px;
}

.item-count {
    position: absolute;
    right: 11px;
    top: 7px;
    font-size: x-small;
}

.cart-qty-width {
    width: 65px;
}

.update-remove-icons {
    font-size: large;
}

.footer p {
    color:white;
    font-size: 0.5rem;
} 

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }

.navbar {
	background-color:white;
}

.offcanvas-header a, .menu-link-size a {
    text-decoration: none;
    color:black;
    font-size: x-large;
}

a:hover {
    color:darkslategray;
}

.small-font {
    font-size: small;
}

.message-container {
    position:fixed;
    top:0px;
    z-index: 99999;
    overflow: hidden;
}

