#background-image {
  /* width: 100%; 
  background-image: url('/media/abereiddi-before-the-storm.jpg');*/
  background-image: url('/media/surfers-long-surfers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 95%;
  background-color: white;
  z-index: 1;
}

.custom-height {
  height:100vh;
}

#signature {
  min-width: 60vw;
  max-width: 70vw;
}




@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}
