.heart {
	text-decoration: none;
	font-size:medium;
	color: black;
}

.heart:hover {
	text-decoration: none;
	color: rgb(214, 18, 18);
}

i[class="fas fa-heart"] {
	color: rgb(214, 18, 18);
}



/* Portfolio Section */
.type {
	margin:0;
	padding:0;
}

.categories {
	padding-bottom: 10px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
}
ol.type li a {
	border: 1px solid #777;
	color: #555;
	padding: 8px 20px;
	text-decoration: none;
}
ol.type li a.active {
	background: #222;
	border: 1px solid #222;
	color: #fff;
}
ol.type li a:hover {
	background: #222;
	border: 1px solid #222;
	color: #fff;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 5px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.price {
	padding:0;
}






.card-body p {
	width:200px;
	font-size:10pt;
}

.card-name {
	margin-bottom: 0px;
}

.dimensions {
	font-size:8pt !important;
}



