{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css"  href="{% static 'shop/css/shop.css' %}"> <!-- this contains the transition effects -->
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/nivo-lightbox/nivo-lightbox.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/nivo-lightbox/default.css' %}">
{% endblock %}

{% block extra_title %}
Shop
{% endblock %}


{% block content %}
<div class="container-fluid mt-5">
    
      <div class="categories pt-5">
        <ul class="cat">
          <li>
            <ol class="type pe-4">
              <li class="mx-auto mb-4"><a href="#" data-filter="*" class="active">All</a></li>
              <li class="mx-auto mb-4"><a href="#" data-filter=".surfers">Surfers</a></li>
              <li class="mx-auto mb-4"><a href="#" data-filter=".landandsea">Land & Sea</a></li>
              <li class="mx-auto mb-4"><a href="#" data-filter=".montage">Montage</a></li>
              <li class="mx-auto mb-4"><a href="#" data-filter=".stdavidscathedral">St. Davids Cathedral</a></li>
              <li class="mx-auto mb-4"><a href="#" data-filter=".whitesands">Whitesands</a></li>
            </ol>
          </li>
        </ul>
      </div>

      <div class="row ms-4">
        <div class="portfolio-items"> <!-- this class is to do with animations, also indidivual col width -->

          <!-- ONE UNIT -->
          <div class="m-2 montage">
            <div class="card shadow-sm portfolio-item">
              <a class="expand position-absolute top-0 end-0" type="button" href=""><i class="fas fa-expand-alt"></i></a>
              <img src="/media/thumbnail.jpg">
              <div class="position-relative">
                <a class="heart position-absolute bottom-0 end-0" type="button" href=""><i class="far fa-heart"></i></a>
              </div>

              <div class="card-body">
                <p class="card-text">Name of picture goes here</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <div class="dropup">
                      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Size
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Option 1</a></li>
                        <li><a class="dropdown-item" href="#">Option2</a></li>
                      </ul>
                    </div>
                  </div>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>

          <!-- ONE UNIT -->
          <div class="m-2 montage">
            <div class="card shadow-sm portfolio-item">
              <a class="expand position-absolute top-0 end-0" type="button" href=""><i class="fas fa-expand-alt"></i></a>
              <img src="/media/thumbnail-wide.jpg">
              <div class="position-relative">
                <a class="heart position-absolute bottom-0 end-0" type="button" href=""><i class="far fa-heart"></i></a>
              </div>

              <div class="card-body">
                <p class="card-text">Name of picture goes here</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <div class="dropup">
                      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Size
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Option 1</a></li>
                        <li><a class="dropdown-item" href="#">Option2</a></li>
                      </ul>
                    </div>
                  </div>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>

          <!-- ONE UNIT -->
          <div class="m-2 montage">
            <div class="card shadow-sm portfolio-item">
              <a class="expand position-absolute top-0 end-0" type="button" href=""><i class="fas fa-expand-alt"></i></a>
              <img src="/media/thumbnail-tall.jpg">
              <div class="position-relative">
                <a class="heart position-absolute bottom-0 end-0" type="button" href=""><i class="far fa-heart"></i></a>
              </div>

              <div class="card-body">
                <p class="card-text">Name of picture goes here</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <div class="dropup">
                      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Size
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Option 1</a></li>
                        <li><a class="dropdown-item" href="#">Option2</a></li>
                      </ul>
                    </div>
                  </div>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>

          <!-- ONE UNIT -->
          <div class="m-2 montage">
            <div class="card shadow-sm portfolio-item">
              <a class="expand position-absolute top-0 end-0" type="button" href=""><i class="fas fa-expand-alt"></i></a>
              <img src="/media/thumbnail.jpg">
              <div class="position-relative">
                <a class="heart position-absolute bottom-0 end-0" type="button" href=""><i class="far fa-heart"></i></a>
              </div>

              <div class="card-body">
                <p class="card-text">Name of picture goes here</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <div class="dropup">
                      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Size
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Option 1</a></li>
                        <li><a class="dropdown-item" href="#">Option2</a></li>
                      </ul>
                    </div>
                  </div>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>

          <!-- ONE UNIT -->
          <div class="m-2 montage">
            <div class="card shadow-sm portfolio-item">
              <a class="expand position-absolute top-0 end-0" type="button" href=""><i class="fas fa-expand-alt"></i></a>
              <img src="/media/thumbnail.jpg">
              <div class="position-relative">
                <a class="heart position-absolute bottom-0 end-0" type="button" href=""><i class="far fa-heart"></i></a>
              </div>

              <div class="card-body">
                <p class="card-text">Name of picture goes here</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <div class="dropup">
                      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Size
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Option 1</a></li>
                        <li><a class="dropdown-item" href="#">Option2</a></li>
                      </ul>
                    </div>
                  </div>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>

          <!-- ONE UNIT -->
          <div class="m-2 montage">
            <div class="card shadow-sm portfolio-item">
              <a class="expand position-absolute top-0 end-0" type="button" href=""><i class="fas fa-expand-alt"></i></a>
              <img src="/media/thumbnail.jpg">
              <div class="position-relative">
                <a class="heart position-absolute bottom-0 end-0" type="button" href=""><i class="far fa-heart"></i></a>
              </div>

              <div class="card-body">
                <p class="card-text">Name of picture goes here</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <div class="dropup">
                      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Size
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Option 1</a></li>
                        <li><a class="dropdown-item" href="#">Option2</a></li>
                      </ul>
                    </div>
                  </div>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
</div>


<!-- 
<main>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col surfers">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">surfer This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col surfers">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">surfers This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col surfers">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">surfers This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col landandsea">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">landandseaThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col landandsea">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">landandseaThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col landandsea">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">landandseaThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col montage">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">montage is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col montage">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">montage is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col montage">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">montageThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>

-->

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'shop/js/bootstrap.js' %}"></script>  
<script type="text/javascript" src="{% static 'shop/js/jquery.1.11.1.js' %}"></script> 
<script type="text/javascript" src="{% static 'shop/js/nivo-lightbox.js' %}"></script> 
<script type="text/javascript" src="{% static 'shop/js/jquery.isotope.js' %}"></script> 
<script type="text/javascript" src="{% static 'shop/js/main.js' %}"></script>

{% endblock %}