{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css"  href="{% static 'shop/css/shop.css' %}"> <!-- this contains the transition effects -->
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/css/nivo-lightbox/nivo-lightbox.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/nivo-lightbox/default.css' %}">
{% endblock %}

{% block extra_title %}
Shop
{% endblock %}


{% block content %}
<div class="container-fluid mt-5">
    <!-- Portfolio Section -->
      <div class="categories pt-5">
        <ul class="cat">
          <li>
            <ol class="type pe-4">
              <li class="mx-auto mb-4"><a href="#" data-filter="*" class="active">All</a></li>
              <li class="mx-auto mb-4"><a href="#" data-filter=".surfers">Surfers</a></li>
              <li class="mx-auto mb-4"><a href="#" data-filter=".landandsea">Land & Sea</a></li>
              <li class="mx-auto mb-4"><a href="#" data-filter=".montage">Montage</a></li>
              <li class="mx-auto mb-4"><a href="#" data-filter=".stdavidscathedral">St. Davids Cathedral</a></li>
              <li class="mx-auto mb-4"><a href="#" data-filter=".whitesands">Whitesands</a></li>
            </ol>
          </li>
        </ul>

      <div class="row">
        <div class="portfolio-items">

          <div class="col-sm-6 col-md-3 col-lg-3 landandsea">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/01-large.jpg" title="hover title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>VARIOUS BUTTONS/ICONS HERE</h4>
                </div>
                <img src="img/portfolio/01-small.jpg" class="img-responsive" alt="landandsea"> </a> </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3 montage">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/02-large.jpg" title="2" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Test2 Title</h4>
                </div>
                <img src="img/portfolio/02-small.jpg" class="img-responsive" alt="montage"> </a> </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3 surfers">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/03-large.jpg" title="3" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Test3 Title</h4>
                </div>
                <img src="img/portfolio/03-small.jpg" class="img-responsive" alt="surfers"> </a> </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3 whitesands">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/04-large.jpg" title="4" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Test4 Title</h4>
                </div>
                <img src="img/portfolio/04-small.jpg" class="img-responsive" alt="whitesand"> </a> </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3 stdavidscathedral">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/05-large.jpg" title="5" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Test5 Title</h4>
                </div>
                <img src="img/portfolio/05-small.jpg" class="img-responsive" alt="stdavidscathedral"> </a> </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3 stdavidscathedral">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/06-large.jpg" title="6" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Test6 Title</h4>
                </div>
                <img src="img/portfolio/06-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3 stdavidscathedral">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/07-large.jpg" title="7" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Test7 Title</h4>
                </div>
                <img src="img/portfolio/07-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3 stdavidscathedral">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/08-large.jpg" title="8" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Test8 Title</h4>
                </div>
                <img src="img/portfolio/08-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3 stdavidscathedral">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/09-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>9 Title</h4>
                </div>
                <img src="img/portfolio/09-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3 stdavidscathedral">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/10-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>10 Title</h4>
                </div>
                <img src="img/portfolio/10-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3 stdavidscathedral">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/11-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>11 Title</h4>
                </div>
                <img src="img/portfolio/11-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3 stdavidscathedral">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="img/portfolio/12-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>12 Title</h4>
                </div>
                <img src="img/portfolio/12-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>

          
            

          <div class="col montage">
            <div class="card shadow-sm portfolio-item">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  
              <div class="card-body">
                <p class="card-text">montage is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

        
      

        </div>
      </div>
</div>


<!-- 
<main>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col surfers">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">surfer This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col surfers">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">surfers This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col surfers">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">surfers This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col landandsea">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">landandseaThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col landandsea">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">landandseaThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col landandsea">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">landandseaThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col montage">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">montage is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col montage">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">montage is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col montage">
          <div class="card shadow-sm portfolio-item">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">montageThis is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>

-->

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'shop/js/bootstrap.js' %}"></script>  
<script type="text/javascript" src="{% static 'shop/js/jquery.1.11.1.js' %}"></script> 
<script type="text/javascript" src="{% static 'shop/js/nivo-lightbox.js' %}"></script> 
<script type="text/javascript" src="{% static 'shop/js/jquery.isotope.js' %}"></script> 
<script type="text/javascript" src="{% static 'shop/js/main.js' %}"></script>

{% endblock %}