{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
<!-- CONTACT FORM SCRIPTS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>   
<script type="text/javascript">
    (function(){
        emailjs.init("user_nm9oF3y1LaZ814oYB5jQQ");
    })();
</script>
{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
  
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="pt-4">CONTACT</h1>  
      <form class="row g-3 mt-3 mx-1" id="contact-form" onsubmit="return sendMail(this);">
          <input type="text" name="name" id="name" placeholder="Your name" required />
          <input type="email" name="emailaddress" id="email_address" placeholder="Your email" required />
          <input type="text" name="subject" id="subject" placeholder="Subject" required />
          <textarea id="message" name="message" placeholder="Your Message..." style="min-height: 200px;" required></textarea>
          <input type="submit" name="submit-btn" id="submit-btn" value="Send" class="mb-4 btn btn-primary" />
      </form>
    </div>
  </div>
  
  <div class="my-5">
    <ul class="list-group list-group-flush align-items-center">
      <li class="list-group-item"><i class="fas fa-phone-alt"></i> +44 (0)7890 692321</li>
      <li class="list-group-item"><i class="fas fa-envelope"></i> info [at] judehowells.co.uk</li>
    </ul>
  </div>

</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'contact/js/contact.js' %}"></script>  
{% endblock %}